body{
	font-family: Calibri;
	background: rgb(200,200,200);
	margin: 0;
}
h1{
	font-weight: bold;
}
h2{
	
}
h3{
	
}
.start{
	font-family: arial;
	margin: 20px;
}
.bloc{
	display: block;
}
.hide{
	display: none;
}
.startB{
	background: grey;
	color: blue;
	font-size: 30px;
	padding: 5px 10px;
	font-weight: bold;
	border-color: grey;
	margin: 20px;
}
.startB:hover{
	background: rgb(175,175,175);
}
.show{
	display: show;
}
.tooltipt{
	background: rgb(170,225,255);
	margin: 0px;
	border-style: double double none double;
	border-width: 10px;
	text-align: center;
}
.tooltipm{
	background: rgb(170,225,255);
	margin: 0px;
	border-style: none double none double;
	border-width: 10px;
	text-align: center;
}
.tooltipb{
	background: rgb(170,225,255);
	margin: 0px;
	border-style: none double double double;
	border-width: 10px;
	text-align: center;
}
.continue{
	background: grey;
	color: black;
	font-size: 30px;
	padding: 5px 10px;
	font-weight: bold;
	border-color: black;
	text-align: center;
	width: 100%;
	border-style: double;
}
.continue:hover{
	background: rgb(175,175,175);
}
.open{
	background: grey;
	border-color: grey;
	border-left: none;
	border-top: none;
	margin: 5px 0px 5px 5px;
	width: 137px;
	height: 40px;
}
.open:hover{
	background: rgb(150,150,150);
}
.locked{
	background: rgb(170,170,170);
	border-color: rgb(170,170,170);
	border-left: none;
	border-top: none;
	margin: 5px 0px 5px 5px;
	width: 137px;
	height: 40px;
}
.openS{
	background: url('setbut.png');
	border-color: grey;
	border-left: none;
	border-top: none;
	margin: 0px 0px 0px 0px;
	position: absolute;
	left: 1169px;
	top: 5px;
	width: 40px;
	height: 40px;
}
.openS:hover{
	background: url('setbuthover.png');
}
.full{
	background: #ff8888;
	border-color: #dd6666;
}
.full:hover{
	background: #ffaaaa;
}
img{
	position: absolute;	
	left: 5px;
	top: 52px;
	height: 600px;
}
#logo{
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 250px;
}
.blocc{
	display: block;
}
.elibr{
	background-image: url('enemylibrary.png');
	position: absolute;
	top: 58px;
	left: 45px;
	height: 30px;
	width: 30px;
	z-index: 1;
}
.elibr:hover{
	background-image: url('enemylibraryhover.png');
}
.ttack{
	background: url('attack.png');
	position: absolute;
	top: 80px;
	left: 45px;
	height: 30px;
	width: 30px;
	transform: scaleX(-1);
}
.ttack:hover{
	background: url('attackHover.png');
}
.attack{
	background: url('attack.png');
	position: absolute;
	top: 80px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.attack:hover{
	background: url('attackHover.png');
}
.attackCool{
	background: url('attackCool.png');
	position: absolute;
	top: 80px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.pattack{
	background: url('Pattack.png');
	position: absolute;
	top: 80px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.pattack:hover{
	background: url('PattackHover.png');
}
.pattackCool{
	background: url('PattackCool.png');
	position: absolute;
	top: 80px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.fattack{
	background: url('Fattack.png');
	position: absolute;
	top: 80px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.fattack:hover{
	background: url('FattackHover.png');
}
.fattackCool{
	background: url('FattackCool.png');
	position: absolute;
	top: 80px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.block{
	background: url('block.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.block:hover{
	background: url('blockhover.png');
}
.blockcool{
	background: url('blockcool.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.blockon{
	background: url('blockon.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.shield{
	background: url('shield.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.shield:hover{
	background: url('shieldhover.png');
}
.shieldcool{
	background: url('shieldcool.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.shieldon{
	background: url('shieldon.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.dodge{
	background: url('dodge.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.dodge:hover{
	background: url('dodgehover.png');
}
.dodgecool{
	background: url('dodgecool.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.heal{
	background: url('heal.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.heal:hover{
	background: url('healhover.png');
}
.healcool{
	background: url('healcool.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.hyperregen{
	background: url('hyperregen.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.hyperregen:hover{
	background: url('hyperregenhover.png');
}
.hyperregencool{
	background: url('hyperregencool.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.hyperregenon{
	background: url('hyperregenon.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.sandwich{
	background: url('sandwich.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.sandwich:hover{
	background: url('sandwichhover.png');
}
.sandwichcool{
	background: url('sandwichcool.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.sandwichon{
	background: url('sandwichon.png');
	position: absolute;
	top: 160px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.refresh{
	background: url('refresh.png');
	position: absolute;
	top: 120px;
	left: 45px;
	height: 30px;
	width: 30px;
}
.refresh:hover{
	filter: brightness(1.5);
}
.player{
	position: absolute;
	margin: 0;
	height: 225px;
	width: 210;
	top: 244px;
	left: 225px;
	margin: 0;
	z-index: 2;
}
.enemy{
	position: absolute;
	margin: 0;
	height: 225px;
	top: 275px;
	left: 625px;
}
.benemy{
	position: absolute;
	margin: 0;
	height: 329px;
	top: 275px;
	left: 625px;
}
.cenemy{
	position: absolute;
	margin: 0;
	height: 396px;
	top: 104px;
	left: 625px;
}
.denemy{
	position: absolute;
	margin: 0;
	height: 157px;
	top: 236px;
	left: 549px;
}
.penemy{
	position: absolute;
	margin: 0;
	height: 150px;
	width: 100px;
	transform: scaleX(-1);
}
.btnr{
	position: absolute;
	background-color: red;
	padding: 8px;
	border-radius: 50%;
	z-index: 4;
}
.btny{
	position: absolute;
	background-color: yellow;
	padding: 8px;
	border-radius: 50%;
	z-index: 4;
}
.btng{
	position: absolute;
	background-color: green;
	padding: 8px;
	border-radius: 50%;
	z-index: 4;
}
.btnb{
	position: absolute;
	background-color: blue;
	padding: 8px;
	border-radius: 50%;
	z-index: 4;
}
.btnr:hover{
	background-color: rgb(255,175,175)
}
.btny:hover{
	background-color: rgb(255,255,175)
}
.btng:hover{
	background-color: rgb(175,255,175)
}
.btnb:hover{
	background-color: rgb(175,175,255)
}
.tutZo{
	top: 122px;
	left: 170px;
}
.field{
	top: 155px;
	left: 197px;
}
.sky{
	top: 127px;
	left: 243px;
}
.school{
	top: 182px;
	left: 168px;
}
.ameair{
	top: 113px;
	left: 294px;
}
.area51{
	top: 139px;
	left: 339px;
}
.caves{
	top: 211px;
	left: 196px;
}
.mines{
	top: 187px;
	left: 233px;
}
.coderslab{
	top: 169px;
	left: 291px;
}
.taroy{
	top: 174px;
	left: 373px;
}
.urf{
	top: 208px;
	left: 270px;
}
.orf{
	top: 214px;
	left: 329px;
}
.tconb{
	top: 256px;
	left: 163px;
}
#SZ1B{
	top: 14px;
	left: 1219px;
}
#maxHealth{
	position: absolute;
	width: 250px;
	height: 30px;
	background-color: white;
	top: 500px;
	left: 200px;
	z-index: 2;
}
#health{
	position: absolute;
	width: 0;
	height: 30px;
	background-color: red;
	z-index: 3;
}
#eMaxHealth{
	position: absolute;
	width: 250px;
	height: 30px;
	background-color: white;
	top: 500px;
	left: 600px;
	z-index: 2;
}
#eHealth{
	position: absolute;
	width: 0;
	height: 30px;
	background-color: red;
	z-index: 3;
}
.lore{
	position: absolute;
	opacity: 0.9;
	left: 160px;
	top: 90px;
	z-index: 1;
	background: #eee;
	padding: 10px;
	width: 690px;
	font-family: Calibri;
}
.lore{
	position: absolute;
	opacity: 0.9;
	left: 160px;
	top: 90px;
	z-index: 1;
	background: #eee;
	padding: 10px;
	width: 690px;
	font-family: Calibri;
}
.loreU{
	position: absolute;
	left: 183px;
	top: 460px;
	z-index: 1;
	background: #330;
	padding: 5px;
	width: 186px;
	color: #990;
	height: 90px;
	text-align: center;
	font-family: Courier New;
	font-size: 13px;
}
.ch1but{
	z-index: 2;
	position: absolute;
	left: 800px;
	width: 50px;
	top: 235px;
	background: #ccc;
	border: none;
}
.ch9but{
	z-index: 2;
	position: absolute;
	left: 800px;
	width: 50px;
	top: 235px;
	background: grey;
	border: none;
}
.ch1but:hover{
	background: #ddd;
}
.helpButton{
	z-index: 2;
	position: absolute;
	width: 100px;
	height: 25px;
	background: #ddd;
	border: 2px solid black;
	font-size: 16px;
}
.helpButton:hover{
	background: #fff;
}
.helpButtonOn{
	background: #cfc;
}
.helpInfo{
	z-index: 2;
}
.helpText{
	position: absolute;
	left: 165px;
	top: 266px;
	width: 710px;
	height: 310px;
	font-size: 16px;
	margin: 0px;
	padding: 5px;
	background: rgb(154,217,234);
	z-index: 2;
}
.vent{
	position: absolute;
	width: 60px;
	height: 60px;
	border: none;
}
.itemBVent{
	position: absolute;
	width: 60px;
	height: 60px;
	border: none;
}
.empty{
	background-image: url('ventEmpty.png');
}
.weapon{
	background-image: url('weapon.png')
}
.head{
	background-image: url('head.png')
}
.body{
	background-image: url('body.png')
}
.legs{
	background-image: url('legs.png')
}
.shoe{
	background-image: url('shoe.png')
}
.access{
	background-image: url('access.png')
}
.starterCap{
	background-image: url('starterCap.png')
}
.stick{
	background-image: url('stickweapon.png')
}
.healthstone{
	background-image: url('healthstone.png');
}
.damagestone{
	background-image: url('damagestone.png')
}
.defencestone{
	background-image: url('defencestone.png')
}
.regenerationstone{
	background-image: url('regenerationstone.png')
}
.healthstone2{
	background-image: url('healthstone2.png');
}
.damagestone2{
	background-image: url('damagestone2.png')
}
.defencestone2{
	background-image: url('defencestone2.png')
}
.regenerationstone2{
	background-image: url('regenerationstone2.png')
}
.healthstone2a{
	background-image: url('healthstone2.gif');
}
.damagestone2a{
	background-image: url('damagestone2.gif')
}
.defencestone2a{
	background-image: url('defencestone2.gif')
}
.regenerationstone2a{
	background-image: url('regenerationstone2.gif')
}
.sneaker{
	background-image: url('sneaker.png')
}
.fang{
	background-image: url('fang.png')
}
.rabbithide{
	background-image: url('rabbithide.png')
}
.sachet{
	background-image: url('sachet.png');
}
.air{
	background-image: url('air.png');
}
.lwing{
	background-image: url('leftwing.png');
}
.rwing{
	background-image: url('rightwing.png');
}
.paper{
	background-image: url('paperItem.png');
}
.stilts{
	background-image: url('stilts.png');
}
.scissor{
	background-image: url('scissor.png');
}
.waterbottle{
	background-image: url('waterbottle.png');
}
.vodkabottle{
	background-image: url('vodkabottle.png');
}
.pencil{
	background-image: url('pencil.png');
}
.deagle{
	background-image: url('deagle.png');
}
.jetpack{
	background-image: url('jetpack.png');
}
.glasses{
	background-image: url('pilotglasses.png');
}
.lasergun{
	background-image: url('lasergun.png');
}
.thebox{
	background-image: url('box.png');
}
.thestone{
	background-image: url('stonei.png');
}
.thestrat{
	background-image: url('strat.png');
}
.uranium{
	background-image: url('uranium.png');
}
.windows9{
	background-image: url('windows9.png');
}
.lava{
	background-image: url('lavabucket.png');
}
.torch{
	background-image: url('torchi.png');
}
.jeans{
	background-image: url('jeans.png');
}
.boot{
	background-image: url('boot.png');
}
.parrystone{
	background-image: url('parrystone.png');
}
.astone{
	background-image: url('stonei2.png');
}
.pickaxe{
	background-image: url('pickaxei.png');
}
.wheels{
	background-image: url('wheels.png');
}
.minercap{
	background-image: url('minercap.png');
}
.gears{
	background-image: url('gears.png');
}
.gold{
	background-image: url('gold.png');
}
.hoe{
	background-image: url('hoei.png');
}
.ram{
	background-image: url('ram.png');
}
.workFolder{
	background-image: url('workFolder.png');
}
.calculator{
	background-image: url('calculatoritem.png');
}
.mantreads{
	background-image: url('mantreads.png');
}
.e{
	background-image: url('ei.png');
}
.greenstick{
	background-image: url('greenstick.png');
}
.crown{
	background-image: url('crown.png');
}
.fightPicker69{
	background-image: url('fightPicker69.png');
}
.pants{
	background-image: url('pants.png');
}
.LotG{
	background-image: url('luckOfTheGame.gif');
}
.susSuit{
	background-image: url('susSuit.png');
}
.bat{
	background-image: url('bati.png');
}
.cbt{
	background-image: url('CBT.png');
}
.valve{
	background-image: url('valve.png');
}
.icecream{
	background-image: url('icecream.png');
}
.yellow{
	background-image: url('yellowi.png');
}
.cyan{
	background-image: url('cyani.png');
}
.mouse{
	background-image: url('mouse.png');
}
.syringegun{
	background-image: url('syringegun.png');
}
.purchasedsub{
	background-image: url('purchasedsub.png');
}
.Ksuit{
	background-image: url('Ksuit.png');
}
.musket{
	background-image: url('musket.png');
}
.dio{
	background-image: url('dio.png');
}
.capMessage{
	background-image: url('capMessage.png');
}
.cake{
	background-image: url('cake.png');
}
.davePot{
	background-image: url('davePot.png');
}
.demonCore{
	background-image: url('demonCore.png');
}
.vlasergun{
	background-image: url('violetlasergun.png');
}
.sigmai{
	background-image: url('sigmai.png');
}
.NaOH{
	background-image: url('NaOH.png');
}
.useall{
	background-image: url('useall.png');
}
.useall:hover{
	background-image: url('useallhover.png');
}
.notFound{
	background-image: url('notFound.png');
}
#trainB{
	background-image: url('trainingB.png');
	position: absolute;
	top: 98px;
	left: 45px;
	height: 30px;
	width: 30px;
	z-index: 1;
}
#trainB:hover{
	background-image: url('trainingBhover.png');
}
#xpB{
	background-image: url('xpB.png');
	position: absolute;
	top: 138px;
	left: 45px;
	height: 30px;
	width: 30px;
	z-index: 1;
}
#xpB:hover{
	background-image: url('xpBhover.png');
}
#itemlibB{
	background-image: url('itemlibrary.png');
	position: absolute;
	top: 178px;
	left: 45px;
	height: 30px;
	width: 30px;
	z-index: 1;
}
#itemLibB:hover{
	background-image: url('itemlibraryhover.png');
}
.xpdcr{
	background-image: url('xprdc.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xpdcr:hover{
	background-image: url('xprdchover.png');
}
.xpdcg{
	background-image: url('xpgdc.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xpdcg:hover{
	background-image: url('xpgdchover.png');
}
.xptsr{
	background-image: url('xprts.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xptsr:hover{
	background-image: url('xprtshover.png');
}
.xptsg{
	background-image: url('xpgts.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xptsg:hover{
	background-image: url('xpgtshover.png');
}
.xpisr{
	background-image: url('xpris.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xpisr:hover{
	background-image: url('xprishover.png');
}
.xpisg{
	background-image: url('xpgis.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xpisg:hover{
	background-image: url('xpgishover.png');
}
.xpism{
	background-image: url('xpmis.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xph3r{
	background-image: url('xprh3.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xph3r:hover{
	background-image: url('xprh3hover.png');
}
.xph3g{
	background-image: url('xpgh3.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xph3g:hover{
	background-image: url('xpgh3hover.png');
}
.xpusr{
	background-image: url('xprus.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xpusr:hover{
	background-image: url('xprushover.png');
}
.xpusg{
	background-image: url('xpgus.png');
	height: 30px;
	width: 30px;
	border: none;
	color: transparent;
}
.xpusg:hover{
	background-image: url('xpgushover.png');
}
#attMP{
    position: absolute;
    left: 457px;
    top: 138px;
    width: 423px;
    height: 37px;
    background-color: rgb(195,195,195);
	z-index: 1;
}
#attP{
    position: absolute;
    left: 457px;
    top: 138px;
    width: 0px;
    height: 37px;
    background-color: rgb(255,201,14);
	z-index: 2;
}
#bloMP{
    position: absolute;
    left: 457px;
    top: 194px;
    width: 423px;
    height: 37px;
    background-color: rgb(195,195,195);
	z-index: 1;
}
#bloP{
    position: absolute;
    left: 457px;
    top: 194px;
    width: 0px;
    height: 37px;
    background-color: rgb(255,201,14);
	z-index: 2;
}
#heaMP{
    position: absolute;
    left: 457px;
    top: 250px;
    width: 423px;
    height: 37px;
    background-color: rgb(195,195,195);
	z-index: 1;
}
#heaP{
    position: absolute;
    left: 457px;
    top: 250px;
    width: 0px;
    height: 37px;
    background-color: rgb(255,201,14);
	z-index: 2;
}
h5{
	position: absolute;
}
.mhp{
	position: absolute;
	left: 262px; 
	top: 525px;
	z-index: 2;
}
.att{
	position: absolute; 
	left: 262px; 
	top: 542px;
	z-index: 2;
}
.def{
	position: absolute; 
	left: 354px; 
	top: 525px;
	z-index: 2;
}
.reg{
	position: absolute; 
	left: 354px; 
	top: 542px;
	z-index: 2;
}
.mhpi{
	position: absolute;
	top: 343px;
	left: 300px;
	font-size: 25px;
}
.atti{
	position: absolute;
	top: 376px;
	left: 300px;
	font-size: 25px;
}
.defi{
	position: absolute;
	top: 409px;
	left: 325px;
	font-size: 25px;
}
.regi{
	position: absolute;
	top: 440;
	left: 300px;
	font-size: 25px;
}
#libBack{
	border: 5px black solid;
	position: absolute;
	font-size: 16px;
	background: rgb(153,217,234);
	left: 289px;
	top: 357px;
	z-index: 3;
	width: 80px;
	height: 30px;
	font-family: arial;
}
#libBack:hover{
	background: rgb(255,255,255);
}
.tutzobook{
	background-image: url('tutorialbook.png');
	left: 160px;
	top: 120px;
}
.tutzobook:hover{
	background-image: url('tutorialbookhover.png')
}
.fieldbook{
	background-image: url('fieldbook.png');
	left: 215px;
	top: 120px;
}
.fieldbook:hover{
	background-image: url('fieldbookhover.png')
}
.skybook{
	background-image: url('skybook.png');
	left: 270px;
	top: 120px;
}
.skybook:hover{
	background-image: url('skybookhover.png')
}
.schoolbook{
	background-image: url('schoolbook.png');
	left: 325px;
	top: 120px;
}
.schoolbook:hover{
	background-image: url('schoolbookhover.png')
}
#ameairbook{
	background-image: url('ameairbook.png');
	left: 380px;
	top: 120px;
}
#ameairbook:hover{
	background-image: url('ameairbookhover.png')
}
#areabook{
	background-image: url('area51book.png');
	left: 435px;
	top: 120px;
}
#areabook:hover{
	background-image: url('area51bookhover.png')
}
#cavebook{
	background-image: url('cavebook.png');
	left: 490px;
	top: 120px;
}
#cavebook:hover{
	background-image: url('cavebookhover.png')
}
#minesbook{
	background-image: url('minesbook.png');
	left: 545px;
	top: 120px;
}
#minesbook:hover{
	background-image: url('minesbookhover.png')
}
#codlabbook{
	background-image: url('codlabbook.png');
	left: 600px;
	top: 120px;
}
#codlabbook:hover{
	background-image: url('codlabbookhover.png')
}
.ch5a{
	top: 530px;
}
.ch6{
	top: 490px;
}
.ch11a{
	top: 470px;
}
.pageb{
	position: absolute;
	width: 75px;
	background-color: grey;
}
.pageb:hover{
	background-color: rgb(175,175,175);
}
.upgrade{
	background-image: url('droneupgradebut.png');
	top: 58px;
	left: 45px;
	width: 30px;
	height: 30px;
}
.build{
	background-image: url('dronebuildbut.png');
	top: 58px;
	left: 45px;
	width: 30px;
	height: 30px;
}
.upgrade:hover{
	background-image: url('droneupgradebuthover.png');
}
.build:hover{
	background-image: url('dronebuildbuthover.png');
}
.zl{
	background-image: url('zonelib.png');
	top: 138px;
	left: 45px;
	width: 30px;
	height: 30px;	
}
.zl:hover{
	background-image: url('zonelibhover.png');
	top: 138px;
	left: 45px;
	width: 30px;
	height: 30px;	
}
#stiBP{
    position: absolute;
    left: 587px;
    top: 164px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#stiUP{
    position: absolute;
    left: 367px;
    top: 164px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#stiMBP{
    position: absolute;
    left: 587px;
    top: 164px;
    width: 218px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#stiMUP{
    position: absolute;
    left: 367px;
    top: 164px;
    width: 510px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#kilBP{
    position: absolute;
    left: 587px;
    top: 197px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#kilUP{
    position: absolute;
    left: 367px;
    top: 197px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#kilMBP{
    position: absolute;
    left: 587px;
    top: 197px;
    width: 218px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#kilMUP{
    position: absolute;
    left: 367px;
    top: 197px;
    width: 510px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#fedBP{
    position: absolute;
    left: 587px;
    top: 230px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#fedUP{
    position: absolute;
    left: 367px;
    top: 230px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#fedMBP{
    position: absolute;
    left: 587px;
    top: 230px;
    width: 218px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#fedMUP{
    position: absolute;
    left: 367px;
    top: 230px;
    width: 510px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#sniBP{
    position: absolute;
    left: 587px;
    top: 263px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#sniUP{
    position: absolute;
    left: 367px;
    top: 263px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#sniMBP{
    position: absolute;
    left: 587px;
    top: 263px;
    width: 218px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#sniMUP{
    position: absolute;
    left: 367px;
    top: 263px;
    width: 510px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#antBP{
    position: absolute;
    left: 587px;
    top: 296px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#antUP{
    position: absolute;
    left: 367px;
    top: 296px;
    width: 0px;
    height: 18px;
    background-color: rgb(0,162,232);
	z-index: 2;
}
#antMBP{
    position: absolute;
    left: 587px;
    top: 296px;
    width: 218px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
#antMUP{
    position: absolute;
    left: 367px;
    top: 296px;
    width: 510px;
    height: 18px;
    background-color: rgb(127,127,127);
	z-index: 1;
}
select{
	width: 55px;
	font-size: 12px;
	position: absolute;
}
.usbinvent{
	position: absolute;
	background-image: url('usbinvent.png');
	left: 45px;
	top: 98px;
	width: 30px;
	height: 30px;
}
.usbinvent:hover{
	background-image: url('usbinventhover.png');
}
#premDroneBut{
	position: absolute;
	background-image: url('premDroneBut.png');
	left: 45px;
	top: 178px;
	width: 30px;
	height: 30px;
	z-index: 5;
}
#premDroneBut:hover{
	background-image: url('premDroneButHover.png');
}
.usb{
	position: absolute;
	height: 408px;
	width: 124px;
	border: none;
}
.umpty{
	background-color: rgb(195,195,195); 
}
.trusb{
	background-image: url('trainusb.png');
}
.d2usb{
	background-image: url('drone2usb.png');
}
.ususb{
	background-image: url('dupg1.png');
}
.ususb2{
	background-image: url('dupg5.png');
}
.ToEusb{
	background-image: url('theoryusb.png');
}
.d3usb{
	background-image: url('drone3usb.png');
}
.bsusb{
	background-image: url('dbui1.png');
}
.rockusb{
	background-image: url('rockyusb.png');
}
.WFUusb{
	background-image: url('WFUusb.png');
}
.ToE2usb{
	background-image: url('theoryusb2.png');
}
.d4usb{
	background-image: url('drone4usb.png');
}
.d4Uusb{
	background-image: url('drone4usbu.png');
}
.d5usb{
	background-image: url('d5usb.png');
}
#WFUlvlB{
	background: url(WFUlvlB.png); 
	width: 34; 
	height: 34; 
	position: absolute; 
	top: 178; 
	left: 328; 
	margin: 0;
	border: none;
}
#WFUlvlB:hover{
	background: url(WFUlvlBhover.png); 
}
.on{
	background: #dddddd;
	border-width: 1px;
}
.on:hover{
	background: #ffffff;
}
.off{
	background: #888888;
	border-width: 1px;
}
.off:hover{
	background: #aaaaaa;
}
.achF{
	position: absolute;
	height: 30;
	width: 30;
	filter: brightness(0.6);
	margin: 0;
}
.achCT{
	position: absolute;
	height: 30;
	width: 30;
	filter: brightness(0.9);
	margin: 0;
}
.achCT:hover{
	filter: brightness(1)
}

.achRT{
	position: absolute;
	height: 30;
	width: 30;
	filter: brightness(0.9);
	margin: 0;
}
.achRT:hover{
	filter: brightness(1)
}
.achET{
	position: absolute;
	height: 30;
	width: 30;
	filter: brightness(0.9);
	margin: 0;
}
.achET:hover{
	filter: brightness(1)
}
.achLT{
	position: absolute;
	height: 30;
	width: 30;
	filter: brightness(0.9);
	margin: 0;
}
.achLT:hover{
	filter: brightness(1)
}
.achReT{
	position: absolute;
	height: 30;
	width: 30;
	filter: brightness(0.9);
	margin: 0;
}
.achReT:hover{
	filter: brightness(1)
}
.achCoT{
	position: absolute;
	height: 30;
	width: 30;
	filter: brightness(0.9);
	margin: 0;
}
.achCoT:hover{
	filter: brightness(1)
}
.perk{
	position: absolute;
	width: 26px;
	height: 26px;
	z-index: 2;
}
.perkCom{
	position: absolute;
	width: 26px;
	height: 26px;
	filter: brightness(0.5);
}
.perkB{
	position: absolute;
	width: 30px;
	height: 30px;
}
#achBut{
	position: absolute;
	background-image: url('achUpButton.png');
	width: 159px;
	height: 42px;
	border: none;
	margin: 0;
	left: 739px;
	top: 551px;
	font-weight: bold;
}
#achBut:hover{
	background-image: url('achUpButtonHover.png');
}
#achBut2{
	position: absolute;
	background-image: url('achUpButton.png');
	width: 159px;
	height: 42px;
	border: none;
	margin: 0;
	left: 739px;
	top: 551px;
	font-weight: bold;
}
#achBut2:hover{
	background-image: url('achUpButtonHover.png');
}
#statB{
	position: absolute;
	background-image: url('statsB.png');
	top: 80px;
	left: 45px;
	width: 30px;
	height: 30px;
	border: none;
}
#statB:hover{
	background-image: url('statsBhover.png');
}
#achiB{
	position: absolute;
	background-image: url('achB.png');
	top: 120px;
	left: 45px;
	width: 30px;
	height: 30px;
	border: none;
}
#achiB:hover{
	background-image: url('achBhover.png');
}
.cbthings{
	background: #bbddff;
}
.cbthings:hover{
	background: white;
}
.mega{
	width: 9600px;
	height: 6000px;
	z-index: -1;
}
.itemBack{
	position: absolute;
	width: 60px;
	height: 60px;
	padding: 0px;
	margin: 0;
	border-width: 5px;
	background: #bbb;
}
.itemNA{
	border: 5px rgb(127,127,127) solid;
}
.itemC{
	border: 5px rgb(127,255,127) solid;
}
.itemR{
	border: 5px rgb(63,127,255) solid;
}
.itemE{
	border: 5px rgb(191,63,255) solid;
}
.itemL{
	border: 5px rgb(255,191,63) solid;
}
.itemRe{
	border: 5px rgb(255,0,0) solid;
}
.itemCo{
	border: 5px rgb(0,0,0) solid;
}
.itemEmpty{
	background: rgb(255,255,255);
	border: 5px rgb(127,127,127) solid;
}
.itemT1{
	background: url('attackBack.png');
}
.itemT2{
	background: url('defenceBack.png');
}
.itemT3{
	background: url('dropBack.png');
}
.itemT4{
	background: url('stoneBack.png');
}
.itemT5{
	background: url('buildBack.png');
}
.itemT6{
	background: url('upgradeBack.png');
}
.itemT7{
	background: url('experienceBack.png');
}
.itemAnim{
	width: 50px;
	height: 50px;
	background: transparent;
	margin: 0;
}
.itemR2{
	background-image: url('rareAnim.gif');
	opacity: 0.1;
}
.itemE2{
	background-image: url('epicAnim.gif');
	opacity: 0.2;
}
.itemL2{
	background-image: url('legendAnim.gif');
	opacity: 0.3;
}
.itemRe2{
	background-image: url('relicAnim.gif');
	opacity: 0.4;
}
.itemCo2{
	background-image: url('contraAnim.gif');
	opacity: 0.5;
}
.itemItem{
	width: 50px;
	height: 50px;
	margin: 0px;
	left: 0px;
	top: 0px;
}
.anomText{
	position: absolute;
	top: 200px;
	left: 725px;
	font-size: 15px;
}
#anomBut{
	background-image: url('anomBut.png');
	position: absolute;
	top: 58px;
	left: 45px;
	height: 30px;
	width: 30px;
	z-index: 1;
}
#anomBut:hover{
	background-image: url('anomButhover.png');
}
#anomBar, #anomBarBack, #anomBarAnim{
	background: #0000FF;
	position: absolute;
	left: 740px;
	top: 532px;
	height: 25px;
	margin: 0;
	width: 100px;
}
.anomLocked{
	background: url('locked.png');
}
.anomEmpty{
	background: #bbb;
}
.stickV2{
	background: url('stickV2.png');
}
.fangV2{
	background: url('fangV2.png');
}
.hideV2{
	background: url('rabbithideV2.png');
}
.lwingV2{
	background: url('leftwingV2.png');
}
.rwingV2{
	background: url('rightwingV2.png');
}
.scissorV2{
	background: url('scissorV2.png');
}
.stiltsV2{
	background: url('stiltsV2.png');
}
.jetpackV2{
	background: url('jetpackV2.png');
}
.lasergunV2{
	background: url('lasergunV2.png');
}
.torchV2{
	background: url('torchV2.png');
}
.pickaxeV2{
	background: url('pickaxeV2.png');
}
.minercapV2{
	background: url('minercapV2.png');
}
.ramV2{
	background: url('ramV2.png');
}
.eV2{
	background: url('eV2.png');
}
.valveV2{
	background: url('valveV2.png');
}
.dronedrop1V2{
	background: url('dronedrop1V2.png');
}
.dronedrop2V2{
	background: url('dronedrop2V2.png');
}
.dronedrop3V2{
	background: url('dronedrop3V2.png');
}
.dronedrop4V2{
	background: url('beerV2.png');
}
.redV2{
	background: url('redV2.png');
}
.greenV2{
	background: url('greenV2.png');
}
.deagleV2{
	background: url('deagleV2.png');
}
.ventV2{
	background: url('ventV2.png');
}
.flareGunV2{
	background: url('flareGunV2.png');
}
.trashV2{
	background: url('trashV2.png');
}
.stoneV2{
	background: url('stoneV2.png');
}
.usbV2{
	background: url('usbV2.png');
}
.airV2{
	background: url('airV2.png');
}
.eraserV2{
	background: url('eraserV2.png');
}
.info{
	margin: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url('info.png');
	padding: 0 0 0 0;
}
.info:hover{
	filter: brightness(1.5)
}
.premUbut{
	margin: 0;
	position: absolute;
	width: 50px;
	height: 16px;
	background: url('premUbutton.png');
	padding: 0 0 0 0;
	border: none;
}
.premUbut:hover{
	filter: brightness(1.5)
}